.office-site {
    background: #D0DFE9;
}

.office {
    margin: 0 auto;
    max-width: 1363px;
}

.office-title {
    h2 {
        font-weight: 700;
        font-size: 60px;
        line-height: 86px;
        letter-spacing: -1px;
        color: #121C42;
        text-align: center;
        padding-top: 20px;

        strong {
            color: #EB7A15;
        }
    }
}

.internet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    // width: 50%;
    // height: 100vh;
    margin-top: 130px;
    background: linear-gradient(104.25deg, rgba(185, 202, 214, 0.2) 0%, rgba(232, 234, 238, 0.2) 100%), rgba(241, 241, 241, 0.1);
    box-shadow: inset 0px 3.125px 12.5px rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(18.75px);
    border-radius: 10px;
}

.internet__info {
    max-width: 627px;

    h3 {
        font-weight: 500;
        font-size: 53.7549px;
        line-height: 95%;
        color: #000000;
        margin-bottom: 24px;

        strong {
            color: #EB7A15;
        }
    }

    p {
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        color: #121C42;
        margin-bottom: 20px;
    }

    a {
        display: inline-block;
        text-decoration: none;
        margin-left: 50px;
    }

    .active3 {
        background: #EB7A15;
        border-radius: 6px;
        padding: 10px 20px;
        color: #D0DFE9;

        &:hover {
            background-color: #FFB562;
            color: #CDF0EA;
        }

        &:active {
            background-color: #FF9F29;
            color: #CDF0EA;
        }
    }

    .border {
        color: #000000;
        border: 2px solid gray;
        border-radius: 5px;
        padding: 8px 16px;

        &:hover {
            background-color: #E7F6F2;
            border-color: transparent;
            color: #3F4E4F;
        }

        &:active {
            border-color: transparent;
            background-color: #A5C9CA;
            color: #3F4E4F;
        }
    }
}

.padding {
    margin-bottom: 200px;
}

@media only screen and (max-width:948px) {
    .office-title {
        h2 {
            font-size: 50px;
        }
    }

    .internet {
        flex-direction: column;
    }

    .internet__info {
        width: 100%;

        h3 {
            font-weight: 500;
            font-size: 40px;
            line-height: 75%;
        }

        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 140%;
            color: #121C42;
            margin-bottom: 20px;
        }
    }
}